li {
    list-style: none;
}

.votes {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: rgb(63, 63, 63);
    color: white;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0 auto;
}
